<html>
<head>
<link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <title>Sign In</title>
</head>
<body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Dollar Auction</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/createauction">New Auction</a></li>
            <li><a href="/past">Past Auctions</a></li>
            <li><a href="/account">Account</a></li>
          </ul>
          <p class="pull-right">You are not logged in</p>
        </div>
      </div>
    </div>
    
    <div class="container">
    	<div class="page-header">
    	<h2>Sign In</h2>
    	</div>
    	<div class="row">
    	<div class="span12">
    		<form method="POST" action="/login">
			<div class="clearfix">    
            	<label for="xlInput">Email:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="email" size="30" type="text">
            	</div>
          	</div>
          	<div class="clearfix">    
            	<label for="xlInput">Password:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="password" size="30" type="password">
            	</div>
          	</div>
          	<div class="input">
            <input type="submit" class="btn primary" value="Login">
          	</div>
          	<div class="input">
          	<br>
          	<p>No account? <a href="/signup">Sign up</a></p>
          	</div>
    		</form>
    	</div>
    	</div>
    </div>

<body>
</html>