<html>
<head>
<title>Sign Up</title>
</head>
<body>
<h3>Sign Up </h3>
<form method="POST" action="/register">
<table>
<tr>
	<td>First Name:</td> 
	<td><input  type="text" name="firstname" size="20" /></td>
</tr>
<tr>
	<td>Last Name:</td> 
	<td><input  type="text" name="lastname" size="20" /></td>
</tr>
<tr>
	<td>Email address:</td> 
	<td><input  type="text" name="email" size="20" /></td>
</tr>
<tr>
	<td>Password: </td>
	<td><input type="password" name="password" /></td>
</tr>
<tr>
	<td>Confirm Password: </td>
	<td><input type="password" name="c_password" /></td>
</tr>
</table>
<input type="submit" value="Sign Up" />
</form>