<html>
<head>
<link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <title>Sign Up</title>
</head>
<body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Dollar Auction</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/createauction">New Auction</a></li>
            <li><a href="/past">Past Auctions</a></li>
            <li><a href="/account">Account</a></li>
          </ul>
          <p class="pull-right">Not logged In</p>
        </div>
      </div>
    </div>   
    <div class="container">
    	<div class="page-header">
    	<h2>Sign Up</h2>
    	</div>
		<div class="row">
			<div class="span12">
    		<form method="POST" action="/register">
			<div class="clearfix">    
            	<label for="xlInput">First Name:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="firstname" size="30" type="text">
            	</div>
            	<label for="xlInput">Last Name:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="lastname" size="30" type="text">
            	</div>
            	<label for="xlInput">Email address</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="email" size="30" type="text">
            	</div>
            	<label for="xlInput">Password:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="password" size="30" type="password">
            	</div>
            	<label for="xlInput">Password:</label>
            	<div class="input">
              		<input class="xlarge" id="xlInput" name="c_password" size="30" type="password">
            	</div>
          	</div>
          	<div class="input">
            <input type="submit" class="btn primary" value="Sign Up">
          	</div>
    		</form>    		
    	</div>
		</div>
    </div>
<body>
</html>