<html>
<head>
<link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <title>Past Auctions</title>
</head>
<body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Dollar Auction</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/createauction">New Auction</a></li>
            <li class="active"><a href="/past">Past Auctions</a></li>
            <li><a href="/account">Account</a></li>
          </ul>
          <p class="pull-right">${email}</p>
        </div>
      </div>
    </div>   
    <div class="container">
    	<div class="page-header">
    	<h2>Past Auctions</h2>
    	</div>
		<div class="row">
			<div class="span12">
    			<table>
    				<thead>
					<tr>
						<td><strong>Closing Time</strong></td>
						<td><strong>Amount Offered ($)</strong></td>
						<td><strong>Amount Sold ($)</strong></td>
						<td><strong>Rate (&#8358;$)</strong></td>
					</tr>
					</thead>
					%	for a in oldauctions:
							<tr>
							<td><a href = "/auction/${a["id"]}">${a["close_date"]}</a></td>
							<td>${a["dollars"]}</td>
							<td>${a["sold"]}</td>
							<td>${a["rate"]}</td>
							</tr>
					%	endfor
				</table>
			</div>
		</div>
    </div>
<body>
</html>